<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_before">
        <observer name="abstractBlockToHtmlBefore" instance="JBdev\EcommerceBlocker\Observer\BlockBlocker" />
    </event>
    <event name="catalog_product_is_salable_after">
        <observer name="catalogProductIsSalableAfter" instance="JBdev\EcommerceBlocker\Observer\ProductSalableBlocker" />
    </event>
    <event name="catalog_product_load_after">
        <observer name="catalogProductLoadAfter" instance="JBdev\EcommerceBlocker\Observer\ProductPriceBlocker" />
    </event>
</config>