<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ecommerce_blocker_section>
            <blocker>
                <enable>false</enable>
            </blocker>
        </ecommerce_blocker_section>
    </default>
</config>